<nb-layout>

  <nb-layout-header fixed>
    <div class="row d-flex align-items-center" style="width: 100%;">
      <div class="col justify-content-start">
        <p style="font-weight: bold; font-size: 20px;">XML to JSON converter</p>
      </div>
      <div class="col d-flex flex-row-reverse">
        <a href="https://github.com/matheusphalves/PortugolToC">GitHub</a>
      </div>
    </div>

  </nb-layout-header>

  <nb-layout-column>

    <nb-card>
      <nb-card-body>

        <div class="row justify-content-center align-items-center">
          <div class="col justify-content-center">
            <p style="text-align: center; font-weight: bold;">XML</p>
            <textarea name="origin" id="" style="width: 100%; min-height: 400px;">

            </textarea>
          </div>
          <div class="col justify-content-center" >
            <p style="text-align: center; font-weight: bold;">JSON</p>
            <textarea name="destin" id="" style="width: 100%; min-height: 400px;">

            </textarea>
          </div>
        </div>

        <div class="row justify-content-center" style="margin-top: 20px;">
          <button
                style="margin-bottom: 20px; margin-right: 10px; max-width: 200px;"
                size = "small"
                nbButton status="primary"
                shape = "round">Converter <nb-icon icon="arrow-ios-forward-outline"></nb-icon></button>
        </div>

      </nb-card-body>
    </nb-card>

    <div class="row">
      <div class="col" style="max-width: 200px;">
        <p>Team</p>
        <ul>Matheus Phelipe</ul>
        <ul>Murilo Stodolni</ul>
        <ul>Nilton Vieira</ul>
        <ul>Richard Jeremias</ul>
      </div>
      <div class="col">
        <p>Discipline: Functional programming language.</p>
        <p>College: Escola Politécnica de Pernmabuco - Computer Enginnering Department (eComp).</p>
        <p>Professor: Dr. Luis Carlos</p>
      </div>
    </div>

  </nb-layout-column>

  <nb-layout-footer fixed>

  </nb-layout-footer>




</nb-layout>
